#projects{
    margin-top:50px;
}
#projects h1{
    color:#d0e7ff ! important;
}
.project-image{
    width:250px;
    object-fit:cover;
}
.project-card{
    width:400px;
    height:400px;
}
.project-btn{
    background-color:black;
    border:none;
}